upstream {{ app_name }} {
  {% for server in groups.webserver %}
    server {{ server }};
  {% endfor %}
}

server {
  listen {{ frontend_port }};

  location / {
    proxy_pass http://{{ app_name }};
  }
}
